:root{
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}

.profile{
    background-color: rgb(140, 180, 172);
    padding: 10px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 10px;
}
h1, h5, p{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.progres{
    margin: 10px;
    padding-left: 100px;
}

h3{
    margin: 10px;
}
img{
    display: block;
    margin: auto;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .profile{
        background-color: rgb(140, 180, 172);
        margin-right: 50px;
        margin-left: 50px;
        /* padding: 100px; */
    }
    .progres{
        padding-left: 30px;
        padding-right: 30px;
        margin: 0px;
    }
    .progres > h3{
        text-align: center;
    }
}